/**************    MODIFICAR FUENTES Y FONDOS    *********************************/
/**{
    color: black;
    font-family: Arial;
    font-size: 16px;

}*/

/**************    ELIMINANDO ELEMENTOS DE IMPRESIÓN     *********************************/

nav,
#admonOculto,
.cont-titulo,
.opciones,
#btnImprimir{
    display: none;
}


tr td{
    /*font-family: Arial;*/
    font-size: 16px;
}
