body{
    background: url("../img/honeycomb1.jpg");
}

.jumbotron{
    background: #FFF;
}


#muajaja{
    height: 2em;
}


#base{
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}

#centro{
    display: flex;
    justify-content: center;
}

.boton{
    background: #8BC34A;
}

.form-control:focus {
  border-color: #D3C332;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211, 195, 50, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211, 195, 50, 0.6);
}
